@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F2F2F2;
	color: #707070
}

h1, h2, h3, h4, h5, h6, .bold {
	font-weight: bold;
}

p {
	font-size: 12px;
}

.custom-navbar {
	background: white;
	box-shadow: 0px 10px 40px rgba(160,157, 198, 0.4);
}

.project-title {
	font-size: 18px;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.project-column {
	margin-bottom: 60px;
}

.project-card {
	border: none;
	background-color: transparent;
}

.main-purple {
	background-color: #6c63ff;
	border: none;
	color: white;
}

.main-purple:hover {
	background-color: #6c63ff;
	border: none;
	color: white;
	box-shadow: 0px 0px 10px 5px #6b63ff49;
}

.secondary-purple, .secondary-purple:hover {
	background-color: transparent;
	border: none;
	color: #6c63ff;
	padding: 0px;
	margin: 0px;
}

.secondary-purple:hover {
	text-decoration: underline;
}
